<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="app.name" value="mmall"/>
    <property name="log.home" value="H:/log"/>
    <property name="log.default_pattern" value="[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n"/>

    <contextName>${app.name}</contextName>

    <!--STDOUT 标准输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <!--DEBUG模式 可在console中显示查询DB的 sql语句-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!--info_log-->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/${app.name}_info.log</file>
        <encoder charset="UTF-8">
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/%d{yyyyMMdd}/${app.name}_info_%d{yyyyMMdd}_%i.log.zip</fileNamePattern>
            <maxFileSize>3GB</maxFileSize>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--warn_log-->
    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/${app.name}_warn.log</file>
        <encoder charset="UTF-8">
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/%d{yyyyMMdd}/${app.name}_warn_%d{yyyyMMdd}_%i.log.zip</fileNamePattern>
            <maxFileSize>3GB</maxFileSize>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--error_log-->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/${app.name}_error.log</file>
        <encoder charset="UTF-8">
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/%d{yyyyMMdd}/${app.name}_error_%d{yyyyMMdd}_%i.log.zip</fileNamePattern>
            <maxFileSize>3GB</maxFileSize>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="com.oecoo.*" additivity="false" level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="INFO_FILE"/>
    </logger>

    <!-- note mybatis log 日志 -->
    <logger name="com.oecoo.*.dao" level="DEBUG"/>

    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="java.sql.Connection" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="java.sql.Statement" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="java.sql.PreparedStatement" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="WARN_FILE"/>
        <appender-ref ref="INFO_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>
</configuration>